<?xml version="1.0"?>
<launch>
  <arg name="robot_ip"          default="$(optenv NAO_IP)" /> <!-- 127.0.0.1 -->
  <arg name="robot_port"        default="$(optenv NAO_PORT 9559)" />
  <arg name="roscore_ip"        default="127.0.0.1" />
  <arg name="network_interface" default="eth0" />

 	<!-- Call Robot publisher -->
  <include file="$(find pepper_description)/launch/pepper_upload.launch" />

  <!-- Call Robot Trajectory Controller -->
  <include file="$(find pepper_control)/launch/pepper_control_trajectory.launch"/>

  <!-- Call Robot Driver -->
  
  <node pkg="naoqi_dcm_driver" type="naoqi_dcm_driver" name="naoqi_dcm_driver" respawn="false" output="screen" >
    
      <rosparam file="$(find pepper_dcm_bringup)/config/pepper_dcm.yaml" command="load"/>
      <rosparam file="$(find pepper_control)/config/pepper_trajectory_control.yaml" command="load"/>
      <param name="RobotIP"             value="$(arg robot_ip)" />
      <param name="RobotPort"           value="$(arg robot_port)" />
      <param name="DriverBrokerIP"      value="$(arg roscore_ip)" />
      <param name="network_interface"   value="$(arg network_interface)" />
      <param name="Prefix"              value="pepper_dcm" />
      <param name="motor_groups"        value="Body" /> 
      <param name="use_dcm"             value="false" />
      <param name="max_stiffness"       value="0.7" />
  </node>

  
  <!-- Call diagnostic routines nodes -->
  <node pkg="pepper_diagnostic_routines" type="depth_camera" name="depth_camera" respawn="true" output="screen"> </node> 
  <node pkg="pepper_diagnostic_routines" type="bottom_camera" name="bottom_camera" respawn="true" output="screen"> </node> 
  <node pkg="pepper_diagnostic_routines" type="front_camera" name="front_camera" respawn="true" output="screen"> </node> 
  <node pkg="pepper_diagnostic_routines" type="handTouch" name="handTouch" respawn="true" output="screen"> </node>
  <node pkg="pepper_diagnostic_routines" type="headTouch" name="headTouch" respawn="true" output="screen"> </node>
  <node pkg="pepper_diagnostic_routines" type="right_arm_control" name="right_arm_control" respawn="true" output="screen"></node>
  <node pkg="pepper_diagnostic_routines" type="left_arm_control" name="left_arm_control" respawn="true" output="screen"></node>
  <node pkg="pepper_diagnostic_routines" type="pelvis_control" name="pelvis_control" respawn="true" output="screen"></node>
  <node pkg="pepper_diagnostic_routines" type="head_control" name="head_control" respawn="true" output="screen"></node>
  <node pkg="pepper_diagnostic_routines" type="right_hand_control" name="right_hand_control" respawn="true" output="screen"></node>
  <node pkg="pepper_diagnostic_routines" type="left_hand_control" name="left_hand_control" respawn="true" output="screen"></node> 
  <node pkg="pepper_diagnostic_routines" type="front_sonar" name="front_sonar" respawn="true" output="screen"> </node>
  <node pkg="pepper_diagnostic_routines" type="back_sonar" name="back_sonar" respawn="true" output="screen"> </node>
  <node pkg="pepper_diagnostic_routines" type="laser" name="laser" respawn="true" output="screen"> </node>
  <node pkg="pepper_diagnostic_routines" type="goToPositionMimo" name="goToPositionMimo" respawn="true" output="screen"> </node>
  <node pkg="pepper_diagnostic_routines" type="goToPosition" name="goToPosition" respawn="true" output="screen"></node>
</launch>
